// Define variables for your color scheme

// For example:
$red: #b0243e;
$blue: #0e4f75;
$tan: #FDEFED;
$orange: #e4890a;
$yellow: #c9ac08;
$green: #adebcf;
$gray: #222222;
$light-gray: #929090;
$white: #FFFFFF;
