<div class="video-content">
  <div class="content-home">
    <div class="d-flex flex-column justify-content-center align-items-center mb-3">
      <h1>New Life</h1>
        <h6 class="mb-5">Find the life you dreamed about !</h6>
      <div class="btn btn-ghost">
        <%= link_to "Start now", lives_path, class: "nav-link fs-5" %>
      </div>
    </div>
  </div>
   <%= video_tag "couple.mp4", autoplay: :autoplay, loop: :loop, muted: :muted, class: "back-video" %>
</div>
