.video-content {
  width: 100%;
  height: 100vh;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 5%;
  object-fit: cover;
}

.back-video {
  position: absolute;
  right: 0;
  top: 0;
  z-index: -3;
  height: 80%;
  object-fit: cover;
  width: 100%;
}

.content-home h1 {
  font-weight: 525;
  color: $tan;
  font-size: 95px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

p {
  color: $yellow;
  font-size: 30px;
}
